@font-face {
  font-family: arcadeclassic;
  src: url(arcadeclassic.regular.ttf);
}
body {background-color: rgba(56, 56, 56, 0.922);
font-size: 40px;
color:rgb(255, 255, 255);
text-align: center;
font-family: arcadeclassic;
}
#gamearea {
  border: 5px solid black;
  background-color: rgb(255, 220, 114);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1400px;
  height: 600px;
}