@font-face {
  font-family: arcadeclassic;
  src: url(fonts/arcadeclassic.regular.ttf);
}
body {
  background-color: rgb(255, 220, 114);
  font-size: 40px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: arcadeclassic;
  height: 100%;
}
#mainCookie {
  background-color: transparent;
  border-color: transparent; 
  transition: linear 0.05s;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: left;
}
#mainCookie:active{
  scale: 1.05;
}
#score {
  text-align: left;
  margin-left: 1%;
  color: black;
  float: left;
}
#title {
  color: black;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
}