@font-face {
  font-family: arcadeclassic;
  src: url(fonts/arcadeclassic.regular.ttf);
}
body {
  background-color: rgb(255, 220, 114);
  font-size: 40px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: arcadeclassic;
  height: 180%;
  overflow: hidden;
}
#mainCookie {
  background-color: transparent;
  border-color: transparent; 
  transition: linear 0.05s;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: left;
  cursor: pointer;
}
#mainCookie:active{
  scale: 1.05;
}
.cookie {
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background-image: url('images/cookie.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: top 1s linear;
}

#score {
  text-align: left;
  margin-left: 1%;
  color: black;
  float: left;
}
#title {
  color: black;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
}